body {
  /* background-color: #2b2b2b; */
  background-color: hsl(180, 5%, 3%);
  /* color : "#FFF"; */
  /* background-color: #FFF;
    color : "#333"; */
  font-family: "Lato", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
