.volume {
  display: flex;
  align-items: center;
}

.volume button {
  margin: 0;
}

.progress {
  /* background-color: black; */
  display: flex;
  align-items: center;
}

/* time */
.time {
  color: #fff;
  font-size: 5px;
  /* line-height: 46px; */
}

.time.current {
  color: #fff;
}
